= form_for @person, :html => {:multipart => true} do |f| 
  = f.error_messages 

  %p
    = f.label :first_name 
    %br
    = f.text_area :first_name 
  
  %p
    = f.label :last_name 
    %br
    = f.text_area :last_name 

  = f.fields_for :mugshot_attributes do |mug|
    %p
      = mug.label :photo
      %br
      = mug.file_field :photo
  
  
  %p= f.submit 
