= form_for @person, :multipart => true do |f| 
  = f.error_messages 
  %p
    = f.label :first_name 
    %br
    = f.text_field :first_name 
  
  %p
    = f.label :last_name 
    %br
    = f.text_field :last_name 

  = f.fields_for @person.find_or_build_mugshot do |mug|
    %p
      = mug.label :asset
      %br
      = mug.file_field :asset
  
  
  %p= f.submit 
